@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Domine&family=Lora:wght@400;500;700&family=Poppins&family=Roboto&display=swap');

@import url("components/avatar.css");
@import url("components/banner.css");
@import url("components/button.css");
@import url("components/container.css");
@import url("components/card.css");

h1, h2, h3, a {
	font-family: Roboto;
	color: #d2c8ff;
}

body {
	font-family: Lora;
	margin: 0px;
}

p {
	font-family: arial;
	color: rgb(150, 150, 150);
}

em {
	font-family: Dancing Script, cursive;
}
